body {
    padding: 0;
    margin: 0;
    background: linear-gradient(70.15deg, #0d38d4 20.62%, #205a91 70.61%);      
    background: linear-gradient(90deg, rgb(31, 112, 124) 10%, rgb(26, 68, 79) 53%, rgb(54, 96, 118) 100%);
}

html {
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.input_escolha {
    display: flex;
    justify-content: space-around;
}

.input_escolha_texto {
    display: block;
    text-align: center;
    justify-content: space-around;
}

.text-input {
    width: 100px;
}

.cabeçalho_loja {
    display: flex;
    justify-content: center;
    background-color: rgb(192, 192, 192);
    border-radius: 10px;
    margin-top: 20px;
}

.lista_produtos_loja {
    display: flex;
    height: 20vh;
    width: 80vw;
    justify-content:space-around;
    align-items: center;
    background-color: rgb(192, 192, 192);
    border-radius: 10px;
    margin-top: 20px;
}

.img2_produto_loja {
    border-radius: 10px;
}
.img3_produto_loja {
    border-radius: 10px;
}
.img4_produto_loja {
    border-radius: 10px;
}

.conteiner1_produto_carrinho::marker {
    color: rgb(31, 112, 124);
}

.cabeçalho_carrinho {
    display: flex;
    justify-content: center;
    background-color: rgb(192, 192, 192);
    border-radius: 10px;
    margin-top: 20px;
}

.conteiner1_produto_carrinho {
    display: flex;
    height: 30vh;
    width: 80vw;
    justify-content:center;
    background-color: rgb(192, 192, 192);
    border-radius: 10px;
    margin-top: 20px;
}

.btn-adc-item {
    height: 5vh;
    margin-top: 37px;
    margin-left: 10px;
}